#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  height: 630px;
  width: 630px;
  background-color: #f5f7fb;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

section {
  width: inherit;
  z-index: 0;
}

.quiz {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  overflow: auto;
}

.yellow-blob {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 0;
}

.blue-blob {
  position: absolute;
  bottom: 0px;
  z-index: 0;
}

.questions-page {
  z-index: 2;
  padding: 0px;
  margin: 12px;
}

.start-button {
  color: #f5f7fb;
  background-color: #4d5b9e;
  height: 50px;
  width: 190px;
  font-family: Inter, sans-serif;
  font-size: 1.15rem;
  border-radius: 15px;
  z-index: 10;
  position: relative;
}

.action-button {
  color: #f5f7fb;
  background-color: #4d5b9e;
  height: 50px;
  width: 190px;
  font-family: Inter, sans-serif;
  font-size: 1.15rem;
  border-radius: 15px;
  margin: 10px 5px 0px 5px;
}

.title {
  font-weight: 500;
}

.quiz-question {
  margin: 10px;
  text-align: left;
}

.quiz-answers {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  /* align-items: center; */
  /* align-content: flex-start; */
  /* gap: 100px; */
  text-align: left;
}

hr {
  border: 1px solid #dbdef0;
  margin-top: 5px;
  width: 95%;
}

label {
  height: 20px;
  /* min-height: 20px; */
  min-width: 30px;
  padding: 2px 8px;
  font-family: Inter, sans-serif;
  font-size: 0.85rem;
  color: #293264;
  border: 0.1rem solid #4d5b9e;
  margin: 5px;
  border-radius: 10px;
  display: inline-block;
  /* flex-grow: 1; */
}

label:hover {
  background-color: #d6dbf5;
}

input[type="radio"] {
  display: none;
}

.answer {
  background-color: #d6dbf5;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
