#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  height: 550px;
  width: 550px;
  background-color: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.yellow-blob {
  position: absolute;
  top: 0px;
  right: 0px;
}

.blue-blob {
  position: absolute;
  bottom: 0px;
  overflow: hidden;
}

.start {
  font-family: "Karla", Arial, Helvetica, sans-serif;
}

.start-button {
  color: #f5f7fb;
  background-color: #4d5b9e;
  height: 50px;
  width: 190px;
  font-family: Inter, sans-serif;
  font-size: 1.15rem;
  border-radius: 15px;
}

.title {
  font-weight: 500;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
